@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  /* padding: 0;
  margin: 0; */
}

 a {

  color:white;
  font-family: 'Creepster', cursive;
  text-shadow: 0 0 1px #ffffff,
  0 0 2px #ffffff,
  0 0 3px #ab0b2b,
  0 0 4px #7c0911,
  0 0 5px #8b090c,
  0 0 10px #bb6407,
  0 0 20px #f68e71;
  font-size: 20px;
  color: #ffffff;
} 

p{color:white;}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
  }
}
 body{
  background: #000;
  
} 
