

button{
    top:50vmin;
    width: 200px;
    height:100px;
    color:white;
    border: 1px solid rgb(255, 255, 255);
    font-family: 'Creepster', cursive;
    text-shadow: 0 0 5px #ffffff,
    0 0 2px #ffffff,
    0 0 5px #ab0b2b,
    0 0 10px #7c0911,
    0 0 20px #8b090c,
    0 0 30px #bb6407,
    0 0 40px #f68e71;
    font-size: 40px;
    color: #ffffff;
  
}



.inbox{
    top:40vmin;
    width: 100px;
    height:50px;
    color:white;
    font-family: 'Creepster', cursive;
  
}

.flagment{
    width: 100px;
    height:100px;
    top:5vmin;
    color:white;
    font-family: 'Creepster', cursive;
    text-shadow: 0 0 5px #ffffff,
    0 0 2px #ffffff,
    0 0 5px #ab0b2b,
    0 0 10px #7c0911,
    0 0 20px #8b090c,
    0 0 30px #bb6407,
    0 0 40px #f68e71;
    font-size: 40px;
    color: #ffffff;
   
   
}
